extends layout

block content
    h1= title
    hr
    h2
        a(href = '' + href)= info
    script(type='text/javascript').
        /*setTimeout(function () {
            window.location.href( href );
        }, 2000);*/