doctype html
html
  head
    title= title
    link(rel = 'stylesheet', href = '/bootstrap-3.3.7-dist/css/bootstrap.css')
    link(rel = 'stylesheet', href = '/stylesheets/style.css')
  body
    //block content
    div.container-fluid.main
      div.row
        div.col-sm-2.left
          ul.nav.nav-sidebar
            li
              a(href = '/') 首页
            li
              a(href = '/student') 学生管理
            li
              a(href = '/teacher') 教师管理
            li
              a(href = '/grade') 班级管理
          hr(style = 'margin: 0px 0px 0px 0px;')
          ul.nav.nav-sidebar
            li
              a(href = '/' style = '').success= '当前用户: ' + session_info.user_name
            li
              a(href = '/login/logout') 点击退出

        div.col-sm-10.right
          block content

    script(type='javascript', src='/javascripts/jquery-3.2.1.slim.min.js')
    script(type='javascript', src='/bootstrap-3.3.7-dist/js/bootstrap.js')
    script(type='javascript', src='/javascripts/main.js')
