.main{
}
.main .left{
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0px;
}
.main .left ul{
}
.main .left ul li {
}
.main .left ul li a{
  font-size: 14px;
}
.main .left ul .active{
  background-color: #428bca;
}
.main .left ul .active:hover{
  background-color: #428bca;
}
.main .left ul .active a{
  color: #fff;
}
.main .left ul .active a:hover{
  color: #fff;
}
.main .right{}