extends ../layout

block content
    h1= title
    hr
    div.row
        div.col-lg-2
            a.btn.btn-primary.btn-block(href = '/student') 学生管理
        div.col-lg-2
            a.btn.btn-primary.btn-block(href = '/student/add') 添加
    hr
    table.table.table-striped.table-hover
        thead.row
            tr
                th.col-md-1 #
                th.col-md-4 姓名
                th.col-md-2 性别
                th.col-md-3 出生日期
                th.col-md-2 操作
        tbody.row
            - for(var i = 0; i < num; i++)
                tr
                    td= i + 1
                    td= data[i].name
                    td
                        - if(data[i].sex)
                            span 男
                        - else
                            span 女
                    td= data[i].birth
                    td
                        a.btn(href = '/student/show/' + data[i].id) 查看
                        a.btn(href = '/student/edit/' + data[i].id) 编辑
                        a.btn(href = '/student/del/' + data[i].id) 删除
    hr
    ul.pager
        - if(page.left == page.p)
            li.previous.disabled(style = 'float: left;')
                a(href = '/student/p/' + page.left) LEFT
        - else
            li.previous(style = 'float: left;')
                a(href = '/student/p/' + page.left) LEFT
        - if(page.right == page.p)
            li.previous.disabled(style = 'float: right;')
                a(href = '/student/p/' + page.right) RIGHT
        - else
            li.previous(style = 'float: right;')
                a(href = '/student/p/' + page.right) RIGHT